version: 2.1

jobs:
  deploy:
    docker:
      - image: cimg/node:18.17
    steps:
      - checkout
      - run: |
          git config --global user.email "ci-bot@example.com"
          git config --global user.name "CircleCI Bot"
      - run: npm install gh-pages
      - run: |
          npx gh-pages -d . --repo=https://$GITHUB_TOKEN@github.com/aman-hussain-shaikh/circleci-static-demo.git -b gh-pages

workflows:
  version: 2
  deploy_on_push:
    jobs:
      - deploy:
          filters:
            branches:
              only: main
