version: 2.1

jobs:
  deploy:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout

      - run:
          name: Configure Git
          command: |
            git config --global user.email "you@example.com"
            git config --global user.name "CircleCI Bot"

      - run:
          name: Deploy to GitHub Pages
          command: |
            echo "Deploying..."
            git remote set-url origin https://$GITHUB_TOKEN@github.com/Aman-Hussain-Shaikh/circleci-static-demo.git
            git add .
            git commit -m "CircleCI Deploy $(date)" || echo "No changes"
            git push origin main

workflows:
  deploy-site:
    jobs:
      - deploy
